@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
	box-sizing: border-box;
}
.Head{
	display: flex;
	justify-content: space-around;
	margin: 0 10; 
	margin-left: 40px;
	margin-right: 40px;
	background: white;
	align-items: center;
	border: 2px solid black;
	border-left: none;
	border-right: none;
	border-width: 60%;
}
ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}
li{
	list-style: none;
	display: flex;
	justify-content: space-between;

}
.logo img{
	border-radius: 50%;
}
.nav-links a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	background: white;
	font-weight: bolder;
	font-family: sans-serif;

}
.nav-links1 a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	background: white;
	font-weight: bolder;
	font-family: sans-serif;
	
}
.nav-links a:hover{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	background: black;
	font-weight: bolder;
	font-family: sans-serif;
	padding: 7.5px 15px;
}
.nav-links1 a:hover{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	background: black;
	font-weight: bolder;
	font-family: sans-serif;
	padding: 7.5px 15px;
}

.main{
	margin: 0px 30px;
	padding: 10px;
	text-align: center;
}
section{
	width: 64%;
	float: left;
	height: 1280px;
	background: white;
	border-right: 0.75px solid black;
	margin-right: 1%;
	margin-bottom: 30px;
}
.Right{
	width: 34%;
	float: left;
	height: 1280px;
	background: white;
	margin-left: 1%;
	margin-bottom: 30px;
} 
.main h1{
	color: black;
	font-family: 'Dancing Script','cursive';
	font-size: 40px;
	text-align: left;
}
.main p{
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 20px;
}
.main after{
	content: "";
	clear: both;
	display: table;
}
.main .right .ansel{
	font-size: 10px;
	text-align: center;
}

